.parent {
    width: 500px;
    background-color: orange;
    padding: 8px;
}

.child {
    width: 100%;
    background-color: lightblue;
    padding: 8px;
    margin-top: 10px;
}

.grand {
    width: 100%;
    background-color: gray;
    padding: 8px;
}